/* light blue : #11F1FA
   orange: #F59400  
   red: #FF2B1A
   yellow: #FFEE00
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  height:100%;
  color: #000;
  font-family: 'Cabin Sketch', cursive;
  margin:0;
  line-height:1.5;
  background-color:#11F1FA;
  
}

/*=========Global==========-*/
.content{
  height: 100%;
  width:80vw;
  margin:40px auto;
  max-width:900px;
}

img{
 width:100%;
 height:100%;
}

/*----------Header------------*/
header.primary{
  background-color:#11F1FA;
  text-align:center;
  color:#11F1FA;
  text-shadow: 4px 4px #000;
  padding: 40px;
 
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%2372d9fe'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%234fb4fe'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%232d8eff'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%230a68ff'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg fill-opacity='0.48'%3E%3Cpolygon fill='%2300ffff' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%2303d9ff'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%2305b4ff'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%23088eff'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%230a68ff'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-size: 10%;
}

header.primary h2{
    margin-bottom:40px;
    padding:20px;
}

header.primary nav ul{
  display:flex;
   flex-direction:row;
   justify-content:space-around;
   flex-flow:wrap;
   align-content:space-evenly;
   
  
  list-style-type:none;
  padding:20px;
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
  background-color:#000;
  background-color:rgba(0,0,0,.4);
  border:5px solid rgba(0,0,0,.5);
 
  border-radius:100px;
  transition:.3s;
  margin-bottom:20px;
   padding: 20px;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.4);
  border:5px solid white;
  color:#F59400;
}

/*----------Content------------*/
.content nav a:link, .content a:visited{
  color:#fff;
  text-decoration:none;
  background-color:rgba(0,0,0,.3);
  border-radius:16px;
  padding:20px;
  transition:.3;
  
}

.content nav a:hover{
  background-color:#CDB7F6;
 
}


/*----------Assignments------------*/
.assignments {
  background-color: rgba(255,255,255,.25);
   background-color: #FFEE00;
  color: #000; 
  padding:20px;
  border:1px solid rgba(245,148,0,1);
  border-radius:100px;
  text-align:center;
  box-shadow:10px 10px rgba(245,148,0,.7);
  margin-bottom:40px;
}
.assignments ul{
   display:flex;
   flex-direction:row;
   justify-content:space-evenly;
   flex-flow:wrap;
   align-content:space-evenly;
   
  
  list-style-type:none;
  padding:20px;
  
}

.assignments ul li{
  padding:20px;
}

/*----Image assignments----*/

.images {
    
   text-align:center;
  background-color: rgba(255,255,255,.25);
    background-color: #FFEE00;
   display:flex;
   flex-direction:column;
   align-content:space;
 color:black;
  padding:20px;
  border:1px solid rgba(0,0,0,1);
  border-radius:10px;
  text-align:center;
  box-shadow:10px 10px rgba(0,0,0,.5);
  margin-bottom:40px;  
  transition:10s;
    
}


.images img {
  margin:10px;
  padding-right:10px;
}


#Title{
  font-family: 'Great Vibes', cursive;
  font-size:3.2rem;
}
/*----Writing assignments----*/
.writing {
   text-align:center;
  background-color: rgba(255,255,255,.25);
      background-color: #FFEE00;
   padding:20px;
  border:1px solid rgba(0,0,0,1);
  border-radius:100px;
  text-align:center;
  box-shadow:10px 10px rgba(0,0,0,.7);
  margin-bottom:40px;  
}
/*---------Footer----------*/
footer.primary {
  background-color:#11F1FA;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%2372d9fe'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%234fb4fe'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%232d8eff'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%230a68ff'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg fill-opacity='0.48'%3E%3Cpolygon fill='%2300ffff' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%2303d9ff'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%2305b4ff'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%23088eff'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%230a68ff'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 10%;
  height: 65px;
  
  margin-bottom:-30px;
}

footer.primary h6{


  text-align:center;
  padding:20px;
  font-size:1rem;
 
}
