
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.content{
  width:80vw;
  margin:40px auto;
  max-width:900px;
}

body {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  
  margin:0;
  line-height:1.5;
}

header.primary{
  background-color:teal;
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px #000;
  padding: 40px;
}

header.primary h2{
    margin-bottom:40px;
    padding:20px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
  list-style-type:none;
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
  background-color:#000;
  background-color:rgba(0,0,0,.3);
  border:5px solid rgba(0,0,0,.4);
  padding: 20px 20px;
  border-radius:100px;
  transition:.5s;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.4);
  border:5px solid white;
  color:orange;
}

#content a:link {
    color:ffffff;
}

#Title{
  font-family: 'Great Vibes', cursive;
  font-size:3.2rem;
}
