/* Color Theme  
 #6F00FF //purple
 #EB1B00 //red
 #FFBF00 //yellow
 #14CCFF //blue
 #000000
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Global Styles ---- */

body {
  font-family: 'Teko', sans-serif;
  font-size:1.2rem;
  margin: 0;
}


/* ----- Header ---- */

header.primary {
  background-color: rgba(0,0,0,1);
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  background-image: url("../img/SpaceX.jpg");
  background-size: 100% 100%; /* little weird on mobile but liked better then cover how it changes with screen size to fit.*/
  padding: 6em 2em;
}

header.primary h1 {
  font-size: 3rem;
  margin: 20px;
  
}

header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png"); /*I couldn't find this image so I took the one from codepen since it seemed to work*/
  display: block;
  width: 450px;
  height: 70px;
  margin: 0 auto;

  text-indent:100%;
  white-space:nowrap; /*This makes the words for the logo disappear*/
  overflow:hidden;
}

header.primary h2 {
 font-family: 'Kanit', sans-serif;
  font-size: 1.8em;
  margin: 25px auto;
  margin-bottom: 50px;
}


 

header.primary nav ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  align-content: center;
  padding: 0;
  max-width: 900px;

}


header.primary nav li {
  font-size:1.6rem;
  list-style-type: none;
  width: 100%;
  margin-bottom:10px;

}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color:rgba(235,27,0,.8);
  padding: 8px 16px;
  border-radius: 10px;
  border:5px solid rgba(255,255,255,.1);
  transition: .5s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(235,107,0,.9);
  border:5px solid rgba(255,255,255,1);
}

/* ------------- Content --------------- */

section#content {
  padding: 20px 0;
}

section#content h3{
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  color: #14CCFF;
  border-bottom: 1px solid #c0c0c0;
}



section#content caption{
  font-weight:bold;
  font-size:1.5rem;
  margin:10px;
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
  color: #14CCFF;
}




/* ------------- Articles --------------- */

section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: column;
  padding:10px;
  margin-bottom:0px;
}

section#articles h2,
#content h2,
details summary{
  flex: 0 0 100%;
  color: #14CCFF;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
}

section#articles h2 {
  color: #14CCFF;
  text-shadow: 2px 2px #fff;
}

#articles article.post {
  width: 100%;
  padding: 10px;
  transition: 0.6s;
  font-size: 1.2rem;
  border-radius: 20px;
  background: #fff;
  margin-bottom:20px;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: 2px 2px #000;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #14CCFF;
}

#articles .post figure {
  margin: 0px;
}

#articles .post img {
  display: block;
  margin: 20px auto;;
  padding: 5px;
  border-radius: 10px;
  height:350px;
}

#articles h3{
  color:#6F00FF;
}

#articles p {
  padding: 0 20px;
}
#articles p {
  margin-bottom: 20px;
}


/* ------------- Aside --------------- */

/*I used your base html and the roles, they come back with warnings but I like them :D*/
aside[role="complementary"] {
  background-color:rgba(235,27,0,.85);
  color: #fff;
  padding: 10%;
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside article.widget {
  padding:20px;
  background-color:rgba(0,0,0,.1);
  width: 40%;
  transition:.6s;
}

aside article.widget:hover{
  background-color:rgba(0,0,0,.15)
}

.widget.overview table {
  margin-left:14%;
  font-size: 0.8em;
  border-collapse: collapse; /*gets rid of space between borders*/
}

.widget.overview table td {
  border-bottom: 2px solid #fff;
  padding: 10px;
}

/*Coppied this to get the table to align the right column on the right*/
.widget.overview table td:nth-child(even) {
  text-align: right;
}

aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 10%;
}


aside article footer {
  display: none;
}


/*------ Footer ------*/

footer#colophon {
  background-color: #000;
}

#colophon h6 {
  margin: 0;
  padding:10px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
}


/*---------------History-----------------------*/

.widget #historytable{
  margin-left:0;
    border:1px solid white;
      border-collapse:collapse;
}
#historytable td {
  padding:10px;
  border:1px solid white;
  border-collapse:collapse;
}

.widget h2 { text-align : center;}

/*---------------FAQ-----------------------*/

#faqcontent {
  padding:20px 0px;
  background-color:rgba(0,0,0,.05);
}

#faqcontent details {
  font-size:1rem;
  text-align:left;
  padding:20px;
  margin:20px;
     background: rgba(0,0,0,.06);
  transition:.6s;
}

#faqcontent details:hover {
   background: rgba(0,0,0,.08);
}

#faqcontent p{
  font-size:1.2rem;
  padding:20px;
}

/* ---------------Media Queries----------------- */
/*I just took this from the codecast primarily Just added the widget width.*/

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  section#articles .container {
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
  
  aside .container {
  
  text-align:center;
  display:block;
  width: 100%;
}

aside article.widget {
  width: 100%;
}

.widget.overview table {
  margin:0;
  width: 100%;
}
}