body {
    margin-left:15%;
    margin-right:15%;
    text-align: center;
    background-color: black;
      color: white;
}


   table, th, td {
  border: 2px solid black;
  border-collapse:collapse;
  background-color:#CCFFFF;
  color: black;
  margin-left:15%;
  margin-right:15%;
}




img{float:right;
    padding-left: 10px;
}

#pokemon{
    float:none;
    padding-bottom:10px;
 }

#gamepic{
    float:left;
    padding-right: 10px;
   
}

#cardpic{
    float:none;
}

dl{
    border: 2px solid white;
}
dd{
    display: list-item;
    list-style-type: disc;
    }

#nav1{
    background-color:gray;
    float:left;
    width:50%;
}
#nav2{
     background-color:gray;
}
